/* IMAGES */





/* BASE STYLES
---------------------------------------------- */
* {
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.3;
    margin: auto;
    padding: 0;
    background-color: #79b38f;
    color: #eaeaea;

}

.center {
    display: block;
   margin: 0 auto;
    width: 50%;
}

img {
    max-width: 100%;
}




/* TYPOGRAPHY
---------------------------------------------- */
h1 {
    text-align: center;
    font-size: 5em;
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* GALLERY
---------------------------------------------- */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    justify-items: start
    align-items: center;
    grid-gap: 16px;
}

.full-width {
    grid-column: 1 / -1;
}

